.categoryLayout {
  display: flex;
}
.categoryLayout-content-container {
  width: var(--current-device-width);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: calc(40 * var(--current-device-width) / var(--ideal-viewport-width));
  width: calc(1540 * var(--current-device-width) / var(--ideal-viewport-width));
  z-index: 1;
  padding-top: calc(
    70 * var(--current-device-width) / var(--ideal-viewport-width)
  );
  top: calc(30 * var(--current-device-width) / var(--ideal-viewport-width));
}
.category-content-heading {
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: calc(
    48 * var(--current-device-width) / var(--ideal-viewport-width)
  );
}
.categories {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(430px, 3fr));
  max-height: calc(
    580 * var(--current-device-width) / var(--ideal-viewport-width)
  );
  overflow-y: scroll;
}
.category {
  border: solid 1px rgba(206, 207, 210, 1);
  background-color: rgba(255, 255, 255, 1);
  height: calc(175 * var(--current-device-width) / var(--ideal-viewport-width));
  border-radius: calc(
    20 * var(--current-device-width) / var(--ideal-viewport-width)
  );
  display: flex;
  align-items: center;
  cursor: pointer;
}
.category img {
  height: calc(138 * var(--current-device-width) / var(--ideal-viewport-width));
  width: calc(204 * var(--current-device-width) / var(--ideal-viewport-width));
  padding-left: calc(
    20 * var(--current-device-width) / var(--ideal-viewport-width)
  );
  padding-right: calc(
    20 * var(--current-device-width) / var(--ideal-viewport-width)
  );
}
.category-left {
  display: flex;
  flex-direction: column;
  gap: calc(20 * var(--current-device-width) / var(--ideal-viewport-width));
}
.category-left-top {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: calc(
    18 * var(--current-device-width) / var(--ideal-viewport-width)
  );
}
.category-left-top span {
  font-size: calc(
    14 * var(--current-device-width) / var(--ideal-viewport-width)
  );
  color: rgba(129, 129, 129, 1);
}
.category-left-bottom {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: calc(
    13 * var(--current-device-width) / var(--ideal-viewport-width)
  );
}
.category-button {
  position: absolute;
  width: calc(538 * var(--current-device-width) / var(--ideal-viewport-width));
  height: calc(53 * var(--current-device-width) / var(--ideal-viewport-width));
  background-color: rgba(227, 26, 26, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: calc(-75 * var(--current-device-width) / var(--ideal-viewport-width));
  left: calc(510 * var(--current-device-width) / var(--ideal-viewport-width));
  color: rgba(245, 245, 245, 1);
  font-size: calc(20 * var(--current-device-width) / var(--ideal-viewport-width));
  border-radius: calc(10 * var(--current-device-width) / var(--ideal-viewport-width));
  cursor: pointer;


  
}
.backgroundImg1 {
  position: absolute;
  width: calc(572 * var(--current-device-width) / var(--ideal-viewport-width));
  height: calc(551 * var(--current-device-width) / var(--ideal-viewport-width));
  top: calc(1 * var(--current-device-width) / var(--ideal-viewport-width));
  left: calc(-286 * var(--current-device-width) / var(--ideal-viewport-width));
}
.backgroundImg2 {
  position: absolute;
  width: calc(962 * var(--current-device-width) / var(--ideal-viewport-width));
  height: calc(946 * var(--current-device-width) / var(--ideal-viewport-width));
  left: calc(1296 * var(--current-device-width) / var(--ideal-viewport-width));
  bottom: calc(
    -277 * var(--current-device-width) / var(--ideal-viewport-width)
  );
}
